img {
  width: 80%;
  height: auto;
}
.postsDiv {
  padding-top: 20px;
}
.post {
  display: grid;
  column-gap: 200px;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "score header header"
    "score content content"
    "score footer footer";
  column-gap: 2px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.score {
  grid-area: score;
  padding: 0px 10px 0px 10px;
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header p {
  padding-right: 5px;
}
.headerimg {
  width: auto;
  height: 20px;
  padding: 0 2px;
}
.content {
  grid-area: content;
}
.footer ul {
  grid-area: footer;
  color: gray;
  display: flex;
}
svg {
  padding-left: 6px;
}
.flairs {
  color: gray;
  display: flex;
}
